#Search {
    flex: 0;
    flex-direction: row;
}

#Types {
    flex: 1;
    flex-grow: 1;
}

.items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.items .item {
    flex: 1 0 auto;
    min-width: 25%;
}